psygnal==0.15.1
numpy==2.3.4
nvidia-cusparselt-cu12==0.7.1
nvidia-cudnn-cu12==9.10.2.21
pexpect==4.9.0
smmap==5.0.2
psutil==7.1.0
fsspec==2025.9.0
GitPython==3.1.45
pydantic_core==2.41.4
backoff==2.2.1
datasets==4.2.0
huggingface-hub==0.35.3
nvidia-nvjitlink-cu12==12.8.93
certifi==2025.10.5
Pygments==2.19.2
parso==0.8.5
joblib==1.5.2
wcwidth==0.3.3
accelerate==1.10.1
nvidia-curand-cu12==10.3.9.90
jupyterlab_widgets==3.0.16
pure_eval==0.2.3
sniffio==1.3.1
pandas==2.3.3
typing-inspection==0.4.2
stack-data==0.6.3
protobuf==6.33.0
nvitop==1.5.3
tqdm==4.67.1
wasmtime==41.0.0
nvidia-cuda-cupti-cu12==12.8.90
appdirs==1.4.4
dateutils==0.6.12
transformers==4.31.0
aiohttp==3.13.0
arrow==1.4.0
hf-xet==1.1.10
multiprocess==0.70.16
jedi==0.19.2
anywidget==0.9.21
python-dateutil==2.9.0.post0
fonttools==4.60.1
attrs==25.4.0
comm==0.2.3
pillow==12.0.0
propcache==0.4.1
PyYAML==6.0.3
xxhash==3.6.0
pip==25.2
charset-normalizer==3.4.4
platformdirs==4.5.0
setuptools==80.9.0
safetensors==0.6.2
aiosignal==1.4.0
cachetools==6.2.4
tzdata==2025.2
wandb==0.22.2
ipylab==1.0.0
decorator==5.2.1
MarkupSafe==3.0.3
annotated-types==0.7.0
SQLAlchemy==2.0.46
traitlets==5.14.3
idna==3.11
httpx==0.28.1
ipython_pygments_lexers==1.1.1
h11==0.16.0
pytz==2025.2
Jinja2==3.1.6
nvidia-ml-py==13.580.82
nvidia-nvshmem-cu12==3.3.20
segment-analytics-python==2.2.3
duckdb==1.4.3
gitdb==4.0.12
anyio==4.11.0
httpcore==1.0.9
scikit-learn==1.7.2
nvidia-cusolver-cu12==11.7.3.90
six==1.17.0
threadpoolctl==3.6.0
peft==0.17.1
ipython==9.9.0
scipy==1.16.2
multidict==6.7.0
pydantic==2.12.2
regex==2025.9.18
mpmath==1.3.0
ipywidgets==8.1.8
prompt_toolkit==3.0.52
kiwisolver==1.4.9
evaluate==0.4.6
loguru==0.7.3
widgetsnbextension==4.0.15
requests==2.32.5
dill==0.4.0
asttokens==3.0.1
nvidia-cublas-cu12==12.8.4.1
bitsandbytes==0.48.1
click==8.3.0
filelock==3.20.0
tokenizers==0.13.3
tensorly==0.9.0
nvidia-cuda-nvrtc-cu12==12.8.93
contourpy==1.3.3
cycler==0.12.1
nvidia-cufile-cu12==1.13.1.3
greenlet==3.3.1
frozenlist==1.8.0
nvidia-nccl-cu12==2.27.5
torch==2.9.0
astor==0.8.1
lion-pytorch==0.2.3
packaging==25.0
sentry-sdk==2.42.0
matplotlib==3.10.7
wheel==0.45.1
sqlglot==28.6.0
aiohappyeyeballs==2.6.1
triton==3.5.0
pyarrow==21.0.0
matplotlib-inline==0.2.1
nvidia-cufft-cu12==11.3.3.83
executing==2.2.1
pyparsing==3.2.5
typing_extensions==4.15.0
monotonic==1.6
nvidia-cusparse-cu12==12.5.8.93
kanaries_track==0.0.5
ptyprocess==0.7.0
yarl==1.22.0
networkx==3.5
nvidia-nvtx-cu12==12.8.90
nvidia-cuda-runtime-cu12==12.8.90
pygwalker==0.5.0.0
sympy==1.14.0
gw_dsl_parser==0.1.49.1
quickjs==1.19.4
urllib3==2.5.0
